body,
.group-content {
  background: #f1f1f1;
}

.mod-setting-container {
  margin: 16px;
  background: #ffffff;
}

.mod-setting {
  width: 1064px;
  min-height: 862px;
  padding: 24px 32px 32px;
  background: #ffffff;
  font-size 12px
  color #353535
}

.setting__hr {
  border-top-color: #f1f1f1;
  margin-top: 32px;
  margin-bottom: 32px;
}

.setting__h {
  font-size 16px
  margin 0 0 32px
}

.h-with-desc {
  margin-bottom 12px
}

.h__desc {
  margin 0
  font-size: 12px;
  color: #959595;
  line-height: 20px;
}

.side__label {
  float: left
  width 86px
  height 20px
  line-height 20px
  &.label_sink {
    margin-top 6px
  }
}

.label__star {
  position relative
  top 2px
  color #ff7300
}

.side__content {
  float: left
  margin-left 16px
}

.setting__item {
  margin-bottom 16px
}

.form-box {
  position: relative;
  width 384px
  height 32px
  line-height 1
  border 1px solid #e5e5e5
  &.form-active {
    border-color #316ccb
  }
}

.input-controller {
  width 100%
  height 100%
  padding 0 16px
  border none
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  outline none
}

.input-length {
  position absolute
  right 16px
  top 10px
  color #c5c5c5
}

.form-placeholder {
  color #959595
  line-height 20px
  margin 8px 0 0
}

.img-controller {
  width 384px
  height 230px
  border 1px solid #e5e5e5
  background url(//img.wuage.com/public/150226777577908930725_48_48.png) no-repeat center
  background-size 24px 24px
  cursor pointer
}

.cover-img {
  width 100%
  height 100%
  object-fit contain
}

// 保存按钮
.setting__foot {
  text-align center
}

.btn.btn-adjust {
  padding 12px 136px
  font-size 14px
}

.btn-disabled.btn-adjust {
  color #ffffff
  background-color #c5c5c5
}

// 标题错误信息提示
.setting__error {
  .form-box {
    border-color #ff7300
  }
  .form-placeholder {
    color #ff7300
  }
}

// 店长设置
.search-box {
  position: relative
  width 320px
  height 32px
  margin-top 24px
}

.search-item {
  height 48px
  line-height 48px
  padding-left 16px
  padding-right 16px
  overflow hidden
}

.avatar-url {
  float left
  width 32px
  height 32px
  margin-top: 8px;
  vertical-align middle
}

.nickname {
  float left
  width 132px
  margin-left 16px
}

.address {
  float right
  width 84px
  text-align right
}

.no-data-search {
  height 48px
  line-height 48px
  padding-left 28px
  color #959595
  box-shadow 0 0 16px 0 rgba(197, 197, 197, 0.50)
}

.search-item-bd {
  border 1px solid #e1e1e1
}

.reset-selected {
  margin-top 24px
  color #316ccb
  font-size 12px
  cursor pointer
}

// 没有数据
.no-data__desc {
  margin: 12px auto 0;
  font-size: 12px;
  color: #656565;
}

.no-data {
  text-align: center;
  font-size: 0;
}

.no-data {
  height: 201px;
  margin: 180px auto 0;

  .btn {
    padding-left 36px
    padding-right 36px
    margin-top 16px
  }
}

.no-data__img {
  width: 144px;
  height: 176px;
}
